<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="headline">
      Travel Planner
    </div>
    <div class="description">
      Find the temperature and weather conditions for your future trip. 
    </div>
    <div class="main">
      <!-- <div class="search"> -->
        <form id="main-form">
          <div class="form-items">
            <label for="destination">Where:</label>
            <input type="text" id="destination" placeholder="Enter location" value="Tokyo" required />
          </div>
          <div class="form-items">
            <label for="departure-date">When:</label>
            <input type="date" id="departure-date" placeholder="yyyy/mm/dd" required />
          </div>
          <div class="form-items">
            <button id="get-info" type="submit">Get info</button>
          </div>
      </form>
      <!-- </div> -->
      <div class="results-back">
        <div id="results">
          <div id="results-pic" class="results-items"></div>
          <div id="results-text" class="results-items"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      Footer text
    </div>
  </div>
</body>

</html>