<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="headline">
      Travel Planner
    </div>
    <div class="description">
      Find the temperature and weather conditions for your future trip. 
    </div>
    <div class="main">
      <div class="search">
        <form id="main-form">
          <div class="destination">
            <label for="destination">Where:</label>
            <input type="text" required id="destination" placeholder="Enter location" />
          </div>
          <div class="departure">
            <label for="departure-date">When:</label>
            <input type="date" required="required" id="departure-date" placeholder="yyyy/mm/dd">
          </div>
          <div>
            <button id="get-info" type="submit">Get info</button>
          </div>
      </form>
      </div>
      <div class="results-back">
        <div id="results">
          <div id="results-pic"></div>
          <div id="results-text"></div>
        </div>
      </div>
    </div>
    <div class="footer">
      Footer text
    </div>
  </div>
</body>

</html>