<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Travel Planner</title>
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Travel Planner
    </div>
    <div class="holder zip">
      <label for="destination">Destination:</label>
      <input type="text" id="destination" placeholder="Enter location" value="London">
    </div>
    <div class="holder feel">
      <label for="departure-date">Departure date:</label>
      <input type="date" id="departure-date" placeholder="MM/DD/YYYY" value="05/20/2020">
      <!-- <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea> -->
      <button id="get-info" type="submit">Get info</button>
    </div>
    <!-- <div class="holder entry">
      <div class="title">Most Recent Entry</div>
      <div id="entryHolder">
        <div id="date"></div>
        <div id="temp"></div>
        <div id="content"></div>
      </div>
    </div> -->
  </div>

</body>

</html>