* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background: #d4f4ff;
	font-family: 'Oxygen', sans-serif;
	margin: 0;
}

#app {
	display: grid;
	grid-auto-rows: minmax(120px, auto);
	color: #0b428c;
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;
}

#results {
	display: grid;
	grid-auto-rows: minmax(35px, auto);
	justify-content: center;
	grid-gap: 5px;
	font-family: 'Oxygen', sans-serif;
	color: #303030;
}

.pic {
	width: 100%;
	margin-bottom: 10px;
}

.entry {
	background: #3b4a6b66;
}

.headline {
	font-size: 44px;
	padding-top: 20px;
}

.departure {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	font-size: 27px;
}

input {
	display: block;
	height: 60px;
	width: 300px;
	background: #ffffff;
	color: #303030;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	border: none;
}

button {
	width: 200px;
	height: 50px;
	background: #fffd95;
	color: #303030;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
	border: none;
	box-shadow: 2px 4px 5px #444;
	margin-top: 15px;
}

button:hover {
	background-color: #ffea2a;
}

button:active {
	background-color: #dad67d;
}

h1 {
	font-size: 36px;
}

textarea {
	background: #ffffff;
	color: #303030;
	font-size: 20px;
	font-family: 'Oxygen', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: #303030;
	font-family: 'Oxygen', sans-serif;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #303030;
	font-family: 'Oxygen', sans-serif;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #303030;
	font-family: 'Oxygen', sans-serif;
}
