* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #017C9B;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    font-size: 20px;
}

#app {
    display: grid;
    color: #ffffff;
    grid-gap: 2em;
    font-family: 'Oxygen', sans-serif;
    margin: 0 auto;
    padding: 10px;
    grid-template-rows: auto 1fr auto;
    place-items: center;
}

.headline {
    font-size: clamp(1.5em, 5vw, 3em);
    text-transform: uppercase;
    justify-self: center;
    align-self: center;
}

.description {
    justify-self: center;
    align-self: center;
    font-size: clamp(1em, 3vw, 1.5em);
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: clamp(0ch, 80%, 100ch);
    background-image: linear-gradient(to bottom, #fff, #ffffff00), url(../../../images/beach.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    color: #303030;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#main-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 30px 0;
}

.form-items {
    flex: 0 1 250px;
    margin: 15px;
}

label {
    display: block;
    width: 90%;
}

input {
    display: block;
    height: 55px;
    background: #ffffff;
    color: #303030;
    font-size: 18px;
    font-family: 'Oxygen', sans-serif;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    margin: 0;
    width: 100%;
}

button {
    width: 100%;
    height: 55px;
    background: #d44d5c;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#results {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
	color: #303030;
    background: #ffffffcc;
	border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.results-back {
    display: flex;
	flex-direction: row;
	justify-content: center;
    margin: 0 auto 40px auto;
    width: 90%;
}

#results-text {
    display: flex;
    flex-direction: column;
}

.results-items {
    flex: 1 1 300px;
    margin: 20px;
}

.pic {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.where {
    margin: 10px;
}

.text-entry {
    margin: 10px;
}

.entry {
    background: #3b4a6b66;
}

.footer {
    justify-self: center;
    align-self: center;
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */


button:hover {
    background-color: #ff5467;
}

button:active {
    background-color: #f25566;
}

textarea {
    background: #ffffff;
    color: #303030;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #717171;
    font-family: 'Oxygen', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #717171;
    font-family: 'Oxygen', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #717171;
    font-family: 'Oxygen', sans-serif;
}
