* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: #017C9B;
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    font-size: 20px;
}

#app {
    display: grid;
    color: #ffffff;
    // font-size: 20px;
    grid-gap: 2em;
    font-family: 'Oxygen', sans-serif;
    margin: 0 auto;
    padding: 10px;
    // grid-template-columns: 100px 1fr 100px;
    // grid-template-rows: 100px 100px minmax(600px, 1fr) 100px;
    // grid-template-areas: "header header header" "description description description" ". center ."
    //     "footer footer footer";
    grid-template-rows: auto 1fr auto;
    place-items: center;
}

.headline {
    font-size: clamp(2rem, 5vw, 3rem);
    text-transform: uppercase;
    // grid-area: header;
    justify-self: center;
    align-self: center;
}

.description {
    // grid-area: description;
    justify-self: center;
    align-self: center;
    font-size: clamp(1.1rem, 5vw, 1.7rem);
}

.main {
    // grid-area: center;
    display: flex;
    flex-direction: column;
    width: clamp(35ch, 80%, 100ch);
    background-image: linear-gradient(to bottom, #fff, #ffffff00), url(../../../images/beach.jpg);
    background-size: cover;
    border-radius: 10px;
    color: #303030;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

#main-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
	// margin: 40px;
    // padding: 30px;
    margin: 40px 0;
    // padding: 30px 0;
}

.form-items {
    flex: 0 1 250px;
    margin: 15px;
}

label {
    display: block;
    width: 90%;
    // margin: 0 0 0 20px;
}

input {
    display: block;
    height: 55px;
    // width: 300px;
    background: #ffffff;
    color: #303030;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    // margin: 15px 20px 0 20px;
    padding: 5px 10px 5px 10px;
    margin: 0;
    width: 90%;
}

button {
    width: 90%;
    height: 55px;
    background: #d44d5c;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
    border: none;
    // margin: 15px 20px 0 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

#results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Oxygen', sans-serif;
	color: #303030;
    background: #ffffffcc;
	border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.results-back {
    display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 40px 40px 40px;
}

#results-text {
    display: flex;
    flex-direction: column;
}

.results-items {
    flex: 0 1 350px;
    margin: 20px;
}

.pic {
    // width: 400px;
    height: 300px;
    max-width: 100%;
	// box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    // margin: 40px 0;
    padding: 20px;
    object-fit: cover;
}

.where {
    margin: 20px 10px;
}

.text-entry {
    margin: 10px;
}

.entry {
    background: #3b4a6b66;
}

.footer {
    // grid-area: footer;
    justify-self: center;
    align-self: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */


button:hover {
    background-color: #ff5467;
}

button:active {
    background-color: #f25566;
}

// h1 {
//     font-size: 36px;
// }

textarea {
    background: #ffffff;
    color: #303030;
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #717171;
    font-family: 'Oxygen', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #717171;
    font-family: 'Oxygen', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #717171;
    font-family: 'Oxygen', sans-serif;
}
